/* estilos-datos-personales.css */
body {
  background-color: #f5eedc;
  font-family: "Libre Franklin", Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
}

form {
  background-color: #fff;
  border: 2px solid #dda853;
  border-radius: 10px;
  padding: 2em 1.5em;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 2px 8px rgba(119, 95, 34, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-top: 15px;
}

#titulo {
  color: #183b4e;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.7em;
}
.etiqueta {
  color: #183b4e;
  display: block;
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: 600;
}
.select {
  color: #183b4e;
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: 600;
}

.input-box {
  position: relative;
  margin-bottom: 1em;
}

.input-box input {
  width: 100%;
  padding: 0.7em 2.2em 0.7em 0.8em;
  border: 2px solid #dda853;
  border-radius: 6px;
  font-size: 1em;
  background-color: #f5eedc;
  color: #183b4e;
  outline: none;
  box-sizing: border-box;
}

.input-box input:focus {
  border-color: #775f22;
  background-color: #fff;
}
.input-select {
  color: #183b4e;
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: 600;
}

#boton {
  width: 100%;
  padding: 0.7em 0;
  background-color: #775f22;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1em;
}

#boton:hover {
  background-color: #dda853;
  color: #183b4e;
}
