/* @import url("temas-colores-fuentes.css"); */

#encabezado-principal {
   background-color: red;
   color: white;
}

#navegacion-categoria {
   background-color: lime;
}

#seccion-categoria {
   min-height: 720px;
   background-color: orange;
   display:flex;
   flex-wrap: wrap;
   gap: 10px;

}

.articulo-categoria {
   border: solid 3px gray;
   flex: auto;
}

#footer-principal {
   background-color: blue;
   color: white;
    display: flex;
   justify-content: space-between;
}

#qr-code {
   width:100px;
   height:100px;
}
