/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=183B4E-F5EEDC-775f22-183B4E-DDA853 */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=ede0bd-2b230c-dcc37f-236a80-b85232 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css2?family=Padauk');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur');

:root {


   --light-color-fondo: #f5eedc;
   --light-color-1: #183b4e;
   --light-color-2: #775f22;
   --light-color-3: #dda853;

   --dark-color-fondo: #041C32;
   --dark-color-1: #f5eedc;
   --dark-color-2: #ECB365;

}

/* .light-theme {
   color: var(--light-color-1);
   background-color: var(--light-color-fondo);
}

.dark-theme {
   color: var(--dark-color-1);
   background-color: var(--dark-color-fondo);
} */
